* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --a: #4f46e5;
    --b: #7c3aed;
    --c: #0f172a;
    --d: #0a0f1c;
    --e: #e2e8f0;
    --f: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--c);
    color: var(--e);
}

.navg {
    position: fixed;
    top: 0;
    background: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;

}

.menu {
    justify-content: center;
    display: flex;
    list-style: none;
    gap: 3rem;
}

.link {
    text-decoration: none;
    color: var(--e);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.link::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--a), var(--b));
    transition: width 0.5s ease;
}

.link:hover::after {
    width: 100%;

}

.foto-perfil {
    width: 250px;
    height: 250px;
    box-shadow: 0 0 20px rgba(79, 70, 299, 0.3);
    border-radius: 50%;
    border: 4px solid var(--f);
    animation: foto 5s ease-in-out infinite;
}

.cab {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h1 {
    font-size: 3.5rem;
    color: var(--a);
    font-weight: bold;
    margin: 20px 0;
}

.t1 {
    font-size: 1.5rem;
    color: var(--e);
}

.sob {
    padding: 6rem 2rem;
}

.caixa {
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--f);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
}

.titulo {
    font-size: 2.5rem;
    color: var(--e);
    text-align: center;
    margin-bottom: 30px;
}

.paragrafo {
    text-align: center;
    font-size: 1rem;
}

.proj {
    padding: 6rem 2rem;
}

.img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.proj-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 299, 0.2);
    transform: translateY(-10px) scale(1.03);
}

.nome-proj {
    margin-bottom: 5px;
    text-decoration: none;
    color: var(--e);
    transition: all 0.3s ease;
}

.nome-proj:hover {
    border-bottom: 1px solid var(--a);
}

.info-proj {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
}

.espacamento {
    padding: 1.5rem;
}

.proj-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.proj-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--f);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}

.cont {
    padding: 6rem 2rem;
}

.titulo-cont {
    font-size: 2.5rem;
    color: var(--e);
    text-align: center;
    margin-bottom: 30px;
}

.form-cont {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--f);
    border-radius: 16px;
}

.text {
    margin-bottom: 1.5rem;
}

.textarea {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--e);
    border: 1px solid var(--f);
    outline: none;
}

.textarea:focus {
    border-color: var(--b);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.btn {
    color: var(--e);
    background: linear-gradient(45deg, var(--a), var(--b));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5 ease;
}

.btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}

.part {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background:
        radial-gradient(circle at 10% 20%, var(--a) 0%, transparent 20%),
        radial-gradient(circle at 90% 80%, var(--b) 0%, transparent 20%),
        var(--d);
}

@keyframes foto {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

}
.rodape {
    background: rgba(15, 23, 42, 0.8);
    gap: 16px;
   
    padding: 0.6rem;
}

.nome {
    margin-left: 10px;
}
